@{
    ViewBag.Title = "Trang mẫu";
    ViewBag.PageTitle = "Quản lý trang mẫu";
    ViewBag.PageSubTitle = "Giới thiệu tổng quan";
}

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg">
    Test js
</button>

<!-- Modal -->


