@using TkbThucHanhCNTT.Models
@{
    ViewBag.Title = "About";
}


<div id="myGridView">
    @(Html.Kendo().Grid<PhanCongGiangDay>()
          .Name("GridView")
          .Columns(columns =>
          {
              columns.Bound(c => c.IdPhanCong).Width(15);
              columns.ForeignKey(p => p.MaGv, (System.Collections.IEnumerable)ViewData["GiaoViens"], "MaGv", "HoVaTen");
              columns.ForeignKey(c => c.MonHocId, (System.Collections.IEnumerable)ViewData["MonHocs"], "MonHocId", "TenMonHoc");
              columns.Bound(c => c.TenLop).Width(50);
              columns.Command(command =>
              {
                  command.Edit().CancelText("Hủy bỏ").UpdateText("Cập nhật").Text("Sửa");
                  command.Destroy().Text("Xóa");

              }).Width(172);
          })
          .ToolBar(toolbar => toolbar.Create().Text("Thêm"))
          .Editable(e => e.Mode(GridEditMode.PopUp))
          .Sortable()
          .Pageable(pageable =>
          {
              pageable.Refresh(true);
              pageable.PageSizes(true);
          })
          .Selectable()
          //  .Scrollable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(20)
              .Events(events => events.Error("error_handler"))
              .Read(read => read.Action("AjaxReadData", "PhanCong"))
                      .Create(update => update.Action("AjaxCreate", "PhanCong"))
                      .Update(update => update.Action("Ajax_Update", "PhanCong"))
                      .Destroy(update => update.Action("AjaxDelete", "PhanCong"))
              .Model(model => model.Id(p => p.IdPhanCong))
          )
          )
</div>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Lỗi:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>