@model MvcPaging.IPagedList<TKBThucHanh.Models.TuanHoc>

@{
    ViewBag.Title = "Tuẩn học";
    ViewBag.PageTitle = "Quản lý tuần học";
    ViewBag.PageSubTitle = "Danh sách tuần học";
}

<p>
    <button id="btnCreateModel" type="button" class="btn btn-primary" data-loading-text="Xin vui lòng đợi...">Thêm mới</button>
</p>



@using (Ajax.BeginForm("Index", "TuanHoc",
    new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
    new { id = "frm-search" }))
{
    <div class="form-inline col-sm-6 form-group">

        <input class="col-sm-5 form-control " type="text" name="tuanhoc" id="txttimkiem" placeholder="Tên hiển thị" value="@ViewData["tuanhoc"]" />
        <button class="btn btn-default col-sm-4" type="submit">
            <i class="icon-search"></i>Tìm giảng viên
        </button>

    </div>
    <div id="grid-list">
        @{ Html.RenderPartial("_AjaxEmployeeList", Model); }
    </div>
}
<script type="text/javascript">

    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Could not retrieve list.");
    }
</script>


