@using System.Collections
@using TkbThucHanhCNTT.Models
@using TkbThucHanhCNTT.Models.Ultils
@{
    ViewBag.Title = "Môn học";
}
<div id="myGridView">
    @(Html.Kendo().Grid<MonHoc>()
          .Name("GridView")
          .Columns(columns =>
          {
              columns.Bound(c => c.MaMonHoc).Width(12);
              columns.Bound(c => c.TenMonHoc);
              columns.Bound(c => c.SoTinChi).Width(12);
              columns.ForeignKey(c => c.TrinhDo, (IEnumerable) ViewData["TrinhDos"], "Value", "Description").Width(125);
              columns.ForeignKey(c => c.ChuyenNganh, (IEnumerable) ViewData["ChuyenNganhs"], "Value", "Description").Width(12);

              columns.Bound(c => c.BatBuoc).Width(9).ClientTemplate(@"<input type='checkbox' id='bacbuoc' name='BacBuoc' disabled #if(BatBuoc){#checked#}# value='#=BatBuoc#' />");
              columns.Command(command =>
              {
                  command.Edit().CancelText("Hủy bỏ").UpdateText("Cập nhật").Text("Sửa");
                  command.Destroy().Text("Xóa");
              }).Width(172);
          })
          .ToolBar(toolbar => toolbar.Create().Text("Thêm môn học"))
          .Editable(e =>
          {
              e.Mode(GridEditMode.PopUp);
              e.DisplayDeleteConfirmation("Bạn có chắc chắn xóa dòng này!");
          })
          .Sortable()
          .Pageable(pageable =>
          {
              pageable.Refresh(true);
              pageable.PageSizes(true);
          })
          .Selectable()
          //  .Scrollable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(StaticValue.PageNumber)
              .Events(events => events.Error("error_handler"))
              .Read(read => read.Action("AjaxReadData", "MonHoc"))
              .Create(update => update.Action("AjaxCreate", "MonHoc"))
              .Update(update => update.Action("Ajax_Update", "MonHoc"))
              .Destroy(update => update.Action("AjaxDelete", "MonHoc"))
              .Model(model => { model.Id(l => l.MonHocId); })
          )
          )
</div>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Lỗi:\n";
            $.each(e.errors, function(key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
            refreshData();
        }
    }

    function refreshData() {
        $('#GridView').data('kendoGrid').dataSource.read();
        $('#GridView').data('kendoGrid').refresh();
    };
</script>