@if (Request.IsAuthenticated)
{
    <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
        @*        <div class="avatar">*@
        @*            <img src="img/avatar.jpg" class="img-rounded" alt="avatar" />*@
        @*        </div>*@
        <i class="fa fa-angle-down"></i>
        <div class="user-mini pull-right profile">
            <span class="welcome">Xin chào,</span>
            <span> @User.Identity.Name </span>
        </div>
    </a>
    <ul class="dropdown-menu">
        @if (User.IsInRole("AdminTeacher") || User.IsInRole("Admin"))
        {
            <li>
                <a href="@Url.Action("CauHinhTrangWeb", "Account")">
                    <i class="fa"></i>
                    <span class="hidden-sm">Cấu hình</span>
                </a>
            </li>
        }
        <li>
            <a href="@Url.Action("DoiMatKhau", "Account")">
                <i class="fa"></i>
                <span class="hidden-sm">Đổi mật khẩu</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("LogOff", "Account")">
                <i class="fa"></i>
                <span class="hidden-sm">Đăng xuất</span>
            </a>
        </li>
    </ul>
}