@using TkbThucHanhCNTT.Models.Enums
@using TkbThucHanhCNTT.Models.Viewer
@{
    //Layout = null;
}
   @(Html.Kendo().Grid<TkbGiangVienViewModel>()
          .Name("GridView")
          .Columns(columns =>
          {
              columns.Bound(c => c.MaGv).Width(15);
              columns.Bound(c => c.HoVaTen);
         
              columns.ForeignKey(p => p.ChuyenNganh, EnumUltils.GetDescriptions<ChuyenNganh>(), "Value", "Description");
              columns.Bound(c => c.TaiKhoan).Width(50);
              columns.Bound(c => c.CoThePhanCong);
              columns.Command(command =>
              {
                  command.Edit().CancelText("Hủy bỏ").UpdateText("Cập nhật").Text("Sửa");
                  command.Destroy().Text("Xóa");
              }).Width(172);
          })
          .ToolBar(toolbar => toolbar.Create().Text("Thêm giảng viên"))
          .Editable(e => e.Mode(GridEditMode.PopUp))
          .Sortable()
          .Pageable(pageable =>
          {
              pageable.Refresh(true);
              pageable.PageSizes(true);
          })
          .Selectable()
            //  .Scrollable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(20)
              .Events(events => events.Error("error_handler"))
              .Read(read => read.Action("AjaxReadData", "GiangVien"))
              .Create(update => update.Action("AjaxCreate", "GiangVien"))
              .Update(update => update.Action("Ajax_Update", "GiangVien"))
              .Destroy(update => update.Action("AjaxDelete", "GiangVien"))
              .Model(model => model.Id(gv => gv.MaGv))
          )
          )
</div>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Lỗi:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
