@if (Request.IsAuthenticated)
{
    <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
        <div class="avatar">
            <img src="img/avatar.jpg" class="img-rounded" alt="avatar" />
        </div>
        <i class="fa fa-angle-down pull-right"></i>
        <div class="user-mini pull-right">
            <span class="welcome">Xin chào,</span>
            <span> @User.Identity.Name </span>
        </div>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="#">
                <i class="fa fa-user"></i>
                <span class="hidden-sm text">Profile</span>
            </a>
        </li>
        <li>
            <a href="ajax/page_messages.html" class="ajax-link">
                <i class="fa fa-envelope"></i>
                <span class="hidden-sm text">Messages</span>
            </a>
        </li>
        <li>
            <a href="ajax/gallery_simple.html" class="ajax-link">
                <i class="fa fa-picture-o"></i>
                <span class="hidden-sm text">Albums</span>
            </a>
        </li>
        <li>
            <a href="ajax/calendar.html" class="ajax-link">
                <i class="fa fa-tasks"></i>
                <span class="hidden-sm text">Tasks</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("DoiMatKhau", "Account")">
                <i class="fa fa-cog"></i>
                <span class="hidden-sm text">Đổi mật khẩu</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("LogOff", "Account")">
                <i class="fa fa-power-off"></i>
                <span class="hidden-sm text">Đăng xuất</span>
            </a>
        </li>
    </ul>
}
else
{
    <ul id="loginLink">
        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    </ul>
}