@if (User.IsInRole("Administrator"))
{
    <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-comment"></i>
            <span class="label label-warning">10</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">Bạn có 10 tuần mới</li>
            <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                    <li>
                        <a href="#" style="line-height: 35px; padding-left: 5px;">
                            <span class="text-green">21/02/2014 - 28/02/2014</span>
                            <span class="text-red">Tuần 35</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" style="line-height: 35px; padding-left: 5px;">
                            <span class="text-green">21/02/2014 - 28/02/2014</span>
                            <span class="text-red">Tuần 35</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" style="line-height: 35px; padding-left: 5px;">
                            <span class="text-green">21/02/2014 - 28/02/2014</span>
                            <span class="text-red">Tuần 35</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" style="line-height: 35px; padding-left: 5px;">
                            <span class="text-green">21/02/2014 - 28/02/2014</span>
                            <span class="text-red">Tuần 35</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" style="line-height: 35px; padding-left: 5px;">
                            <span class="text-green">21/02/2014 - 28/02/2014</span>
                            <span class="text-red">Tuần 35</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" style="line-height: 35px; padding-left: 5px;">
                            <span class="text-green">21/02/2014 - 28/02/2014</span>
                            <span class="text-red">Tuần 35</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" style="line-height: 35px; padding-left: 5px;">
                            <span class="text-green">21/02/2014 - 28/02/2014</span>
                            <span class="text-red">Tuần 35</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="footer"><a href="#">Xem chi tiết</a></li>
        </ul>
    </li>
}