@using System.Collections
@using TkbThucHanhCNTT.Models
@using TkbThucHanhCNTT.Models.Ultils
@{
    ViewBag.Title = "Lớp học";
}
<div id="myGridView">
    @(Html.Kendo().Grid<Lop>()
          .Name("GridView")
          .Columns(columns =>
          {
              columns.Bound(c => c.TenLop);
              columns.Bound(c => c.NamNhapHoc);
              columns.ForeignKey(c => c.TrinhDo, (IEnumerable) ViewData["TrinhDos"], "Name", "Description");
              columns.Command(command =>
              {
                  command.Edit().CancelText("Hủy bỏ").UpdateText("Cập nhật").Text("Sửa");
                  command.Destroy().Text("Xóa");
              }).Width(172);
          })
          .ToolBar(toolbar => toolbar.Create().Text("Thêm lớp học"))
          .Editable(e =>
          {
              e.Mode(GridEditMode.PopUp);
              e.DisplayDeleteConfirmation("Bạn có chắc chắn xóa dòng này!");
              e.Window(x => x.Title("Lớp học"));
          })
          .Sortable()
          .Pageable(pageable =>
          {
              pageable.Refresh(true);
              pageable.PageSizes(true);
          })
          .Selectable()
          //  .Scrollable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(StaticValue.PageNumber)
              .Events(events => events.Error("error_handler"))
              .Read(read => read.Action("AjaxReadData", "Lop"))
              .Create(update => update.Action("AjaxCreate", "Lop"))
              .Update(update => update.Action("Ajax_Update", "Lop"))
              .Destroy(update => update.Action("AjaxDelete", "Lop"))
              .Model(model =>
              {
                  model.Id(l => l.TenLop);
                  model.Field(x => x.TenLop);
                  model.Field(x => x.TrinhDo).DefaultValue("CaoDang");
                  model.Field(x => x.NamNhapHoc).DefaultValue(DateTime.Now.Year);
              })
          )
          )
</div>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Lỗi:\n";
            $.each(e.errors, function(key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
            refreshData();
        }
    }

    function refreshData() {
        $('#GridView').data('kendoGrid').dataSource.read();
        $('#GridView').data('kendoGrid').refresh();
    };
</script>